
body {
    background-color: whitesmoke;
    font-family: cursive;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #efece9;
}

.header-container{
    position: fixed;
   width: 1024px;
    top: 0;
}


/* Header style */
header {
    background-color: rgb(0, 0, 0);
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
/* End of header style */


/* Logo style */
.logo {
    padding: 10px 20px;
    margin: 10px 10px;
    text-align: center;
}
.logo1{
    width: 150px;
    margin: 0px auto;
    text-align: center;
}
.toIndex{
    text-decoration: none;
}
.poll {
    font-size: 2em;
    color: #3498db;
    margin-bottom: 0;
}

.maker {
    font-size: 1.5em;
    color: #e74c3c;
    margin-top: 0;
}
/* End of logo style */

/* Navbar1 style */
header .nav1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
}

header .nav1 a {
    margin-right: 15px;
    color: white;
}

header .nav1 .myButton1 {
    margin-left: 30px;
    border: 1px solid white;
    padding: 6px 25px;
    border-radius: 5px;
}

header .nav1 .myButton1:hover {
    background-color: white;
    color: black;
}

header .nav1 .myButton {
    margin-left: 30px;
    border: 1px solid white;
    padding: 6px 25px;
    border-radius: 5px;
}

header .nav1 .myButton:hover {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}
/* End of navbar1 style */

/* Navbar2 style */
.nav2 {
   background-color: whitesmoke;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 21px;
}

.nav2 a {
    margin-top: 15px;
    margin-left: 80px;
    padding: 12px 17px;
    background: none;
    border: none;
    font-family:'Times New Roman', Times, serif;
}


.nav2 a:hover {
    transition-duration: 1s;
    color:blue;
    border-bottom: 3px solid blue;
}
/* End of navbar2 */

main {
    background-color: whitesmoke;
    min-height: 400px;
    padding-top: 180px;
    padding-bottom: 80px;
}

.myPollLogIn a:hover{
    color:red;
}
.myPollLogIn {
    text-decoration:underline;
}

.pollBoxes {
    margin: 15px;
    border: 1px solid #c3c3e9;
    padding: 10px;
    border-radius: 15px;
    width: 43%;
    background-color: rgba(3, 41, 255, 0.048);
    min-height: 50px;
    font-family:Arial, Helvetica, sans-serif;
}
.pollBoxes:hover{
    box-shadow: 0 0 5px black;
}

.pollBoxOwner {
    font-size: 15px;
}

.allpollBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.allpollBoxes a{
    display: contents;
    color:black;
}

@media(max-width:768px) {
    .nav2 a {
        padding: 5px 10px;
    }
    .nav2{
        font-size: 21px;
    }

    .nav1 {
        font-size: 25px;
    }

    .logo {
        font-size: 19px;
    }

    .pollBoxes{
        font-size: 25px;
        width:70%;
    }
    .allpollBoxes{
        justify-content: space-around;
    }
    .pollBoxOwner {
        font-size: 20px;
    }
  

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        color: black;
    }

    .footer-col h4 {
        font-size: 30px;
        color: black;
    }

    .footer-col ul li a {
        font-size: 1.5rem;
        color: black;
    }
}

@media(max-width:500px) {
    .nav2 {
        text-align: center;
        font-size: 27px;
    }

    .nav1 {
        font-size: 28px;
    }

    .logo {
        font-size: 24px;
    }
    .pollBoxes {
        font-size: 25px;
        width: 70%;
    }
    .pollBoxOwner {
        font-size: 25px;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col h4 {
        font-size: 40px;
    }

    .footer-col ul li a {
        font-size: 2rem;
    }
}