body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
body {
    background-color: whitesmoke;
    font-family: cursive;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #00000014;
    padding-top: 150px;
    padding-bottom: 50px;
}

.result {
    /* max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    margin: 0px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    padding: 20px;
    background-color: #f1f1f1;
}
#poll-result{
    text-align: center;
}

.option-container {
    margin-bottom: 20px;
}

.option {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.bar {
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    height: 20px;
    width: 0; /* Initial width */
    transition: width 0.5s ease-in-out;
}

.option-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.percentage {
    font-weight: bold;
}